.dashboard-layout{
    min-height: 85vh;
    background-color: #fff;
    // width: 100%;
    padding: 10px 25px;
    margin: 15px 25px;
    border-radius: 5px;
}

.data-title, .data-length{
    font-size: 20px;
    font-weight: bold;
    @media(max-width: 768px){
        font-size: 13px;
    }
}

.awesome {
    font-family: futura;
    font-style: italic;
    text-align: center;
    color: #313131;
    font-size: 20px;
    font-weight: bold;
    animation: colorchange 20s infinite alternate;
  }
  
  @keyframes colorchange {
    0% {
      color: blue;
    }
    10% {
      color: #8e44ad;
    }
    20% {
      color: #1abc9c;
    }
    30% {
      color: #d35400;
    }
    40% {
      color: blue;
    }
    50% {
      color: #34495e;
    }
    60% {
      color: blue;
    }
    70% {
      color: #2980b9;
    }
    80% {
      color: #f1c40f;
    }
    90% {
      color: #2980b9;
    }
    100% {
      color: pink;
    }
  }